/* App.css */

/* Reset default margin and padding */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Style for the headline */
.headline {
  padding: 20px;
  background-color: #f5f5f5; /* Light gray background */
  text-align: center;
  font-size: 24px; /* Set font size */
  font-weight: bold; /* Bold text */
}

/* Style the wrapper div for the form component */
.form-wrapper, #root {
  flex: 1; /* Allow the wrapper to take up the remaining space */
  display: flex;
  flex-direction: column;
}

/* Style the textarea */
textarea {
  flex: 1; /* Allow textarea to take up remaining space */
  border: none;
  outline: none;
  resize: none;
  box-sizing: border-box;
  padding: 20px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  margin: 0;
}

/* Style the button */
button {
  padding: 15px 0; /* Vertical padding */
  background-color: #007BFF; /* Blue background */
  color: white; /* White text */
  border: none;
  cursor: pointer; /* Hand cursor on hover */
}

/* Add this CSS to your stylesheet or <style> tag */
pre {
  white-space: pre-wrap; /* Allow line breaks within text */
  word-wrap: break-word; /* Allow long words to be broken and wrap to the next line */
  padding:15px;
}

h1 {
  padding-left: 15px;
}